.DS_Store
.idea/
.vscode/


# data
Data/raw/** 
Data/logs/** 
Data/extracted/**
Data/cleaned/** 
Data/structured/**

# neo4j
for_neo4j/data/data_clean/**
for_neo4j/data/data_raw/**
for_neo4j/data/logs/**

## SQL-DATA
SQL/SQL_with_normzlization/output/** 


